body * {
  box-sizing: border-box;
}

html body {
  padding: 0;
  background-color: #FFFFF7;
}

#header {
  display:flex;
  justify-content: space-around;
}

h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 2.5em;
}

#header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: 'Crimson Text', serif;
}

.title {
  width:80%;
  border-bottom:1px solid black;
  display:flex;
  margin:0 auto;
  padding-top: 2.5em;
  font-family: 'Crimson Text', serif;
}

.container {
  width:80%;
  display:flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin:0 auto;
}

.uni {
  display:flex;
  width:100%;
  justify-content: space-between;
  padding-top: 0;
  margin-bottom: -1em;
}

.name {
  font-weight: bold;
  text-decoration: underline;


}

#merica {
  padding-top: 2em;
}

.padding {
  padding-top:2em;
}

.info {
  margin-bottom: -.7em;
}

span {
  font-weight: bold;
}

a {
  color:black;
}

.column {
  display:flex;
  flex-direction: column;
}

p, li, span, a {
  font-family: 'Old Standard TT', serif;
}
