body * {
  box-sizing: border-box;
}

html body {
  padding: 0;
  background-color: #FFFFF7;
}

#header {
  display:flex;
  justify-content: space-around;
}

h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 2.5em;
}

#header a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: 'Crimson Text', serif;
}

h2, h3 {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

.container {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.container p {
  font-style: italic;
  font-family: 'Old Standard TT', serif;
}

.container a {
  color:black;
}
